<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.omniupdate.addressbook.utilities.Listener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="AddressBookTest">

        <classes>
            <class name="com.omniupdate.addressbook.test.UI_Testing"/>
            <class name="com.omniupdate.addressbook.test.API_Testing"/>
        </classes>
    </test>
</suite>